<div>
    <h3>Core Functionality</h3>
    <div class="col-md-6">
        <div class="cy-examples well">
            <cytoscape id="core" graph-elements="elements" graph-layout="layout"></cytoscape>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-group">
            <md-button class="md-primary md-raised" ng-click="panTo()">Pan</md-button>
            <md-button class="md-warn md-raised" ng-click="center()">Center</md-button>

        </div>
    </div>
<span class="col-md-12">
    <p class="text-warning"></p>
   </span>

    <div  class="col-md-12" ng-controller="codeView as cv">
        <div class="btn-group">
            <button class="btn btn-raised btn-primary" ng-click="cv.switch('HTML')">HTML</button>
            <button class="btn btn-raised btn-primary" ng-click="cv.switch('JAVASCIRPT')">JAVASCRIPT</button>
        </div>
        <div hljs ng-show="cv.codeView.html">
<cytoscape id="core" graph-elements="elements" graph-layout="layout"></cytoscape>
<button ng-click="panTo()">Pan</button>
<button ng-click="center()">Center</button>
        </div>
        <div hljs ng-show="cv.codeView.javascript">
$scope.graph = {};
/*
    # Due to multiple graph instances on this page, must specify which graph with getGraph('core')
    # 'core' corresponds with attribute ID in html tag.
*/
cytoData.getGraph('core').then(function(graph){
    $scope.graph = graph;
});

$scope.panTo = function(){
    $scope.graph.pan({
        x: 100,
        y: 100
    })
};
$scope.center = function(){
    $scope.graph.center()
};

        </div>
    </div>
</div>