<h3>Default Options</h3>
<div class="cy-examples well">
    <cytoscape graph-options="defaults" graph-elements="elements" graph-layout="layout" id="defaults-graph"></cytoscape>
</div>
<span class="col-md-12">
    <p class="text-warning">Panning and zooming disabled.</p>
   </span>
<div ng-controller="codeView as cv">
    <div class="btn-group">
        <button class="btn btn-raised btn-primary" ng-click="cv.switch('HTML')">HTML</button>
        <button class="btn btn-raised btn-primary" ng-click="cv.switch('JAVASCIRPT')">JAVASCRIPT</button>
    </div>
    <div hljs ng-show="cv.codeView.html">
        <cytoscape graph-options="defaults" graph-elements="elements" graph-layout="layout"></cytoscape>
    </div>
    <div hljs ng-show="cv.codeView.javascript">
        $scope.layout = {name:'grid'};
        $scope.defaults = {
            zoomingEnabled: false,
            userPanningEnabled: false
        };

        $scope.elements = {
            n1:{
                data:{}
            },
            n2:{
                data:{}
            },
        };</div>
</div>
