<h3>Getting Started</h3>
<p class="text-info">Dependencies</p>
 <div hljs>
bower install ngCytoscape
 </div>
<div hljs>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/cytoscape/dist/cytoscape.js"></script>
<script src="bower_components/ngCytoscape/dst/ngCytoscape.js"></script>
</div>
<p class="text-info">Include</p>

<div hljs>
   angular
        .module('yourApp', ['ngCytoscape'];
</div>
<p class="text-info">CSS</p>
Cytoscape requires a specified height width.
<div hljs>
.ngCytoscape{
    height: 300px;
    width:100%;
}
</div>
