<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ngCytoscape Test</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <style>
        .ngCytoscape{
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body ng-app="app">
<div ng-controller="testCntrl">
    <div class="col-md-3">
        <input type="number" class="form-control" ng-model="count">
        <button class="btn btn-default" ng-click="addElements()">Add Elements</button>
        <button class="btn btn-default" ng-click="clearElements()">Clear Elements</button>
        <button class="btn btn-default" ng-click="addControlElements()">addControlElements</button>
        <button class="btn btn-default" ng-click="removeControl()">removeControl</button>
        <button class="btn btn-default" ng-click="removeSelected()">remove selected</button>
        <button class="btn btn-default" ng-click="reAddNewStyle()">reAddNewStyle</button>
        <button class="btn btn-default" ng-click="resetStyle()">resetStyle</button>
        <input type="number" class="form-control" ng-model="selected.weight">
        {{selected}}
    </div>
    <div class="col-md-6">
        <cytoscape id="testgraph" graph-elements="elements" graph-style="style" graph-layout="{name:'circle'}"></cytoscape>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default" ng-click="runLayout()">Layout</button>
    </div>
</div>
<script src="../bower_components/cytoscape/dist/cytoscape.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../dst/ngCytoscape.js"></script>
<script src="app.js"></script>
<script src="test-cntrl.js"></script>

</body>
</html>